<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conversor_moedas">

    <!-- Necessário para acesso à internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Necessário para acessar a localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="${applicationName}"
        android:label="conversor_moedas"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|density|layoutDirection"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Flutter uses this meta-data to indicate the flutter version used. -->
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Para localização precisa -->
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="SUA_API_KEY_AQUI"/>
    </application>
</manifest>
